a.button{
  text-decoration: none;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

button{
  margin-left: 10px;
  background-color: blue;
  border-radius: 5px;
  padding: 5px;
  border: none;
}

